ServiceConfig.json
WinServicePublishManager.exe
WinServicePublishManager.exe.config
WinServicePublishManager.pdb
WinServicePublishManager.vshost.exe
WinServicePublishManager.vshost.exe.config
WinServicePublishManager.vshost.exe.manifest
DesignTimeResolveAssemblyReferences.cache
DesignTimeResolveAssemblyReferencesInput.cache
TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WinServicePublishManager.csproj.FileListAbsolute.txt
WinServicePublishManager.csproj.GenerateResource.Cache
WinServicePublishManager.FrmMain.resources
WinServicePublishManager.Properties.Resources.resources
/WinServicePublishManager/.vs/WinServicePublishManager/v14/.suo
/WinServicePublishManager/WinServicePublishManager/WinServicePublishManager.csproj.user
